@font-face {
  font-family: BlinkMacSystemFont;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url(../fonts/BlinkMacSystemFont-Black.woff2) format('woff2'),
    url(../fonts/BlinkMacSystemFont-Black.woff) format('woff');
}

@font-face {
  font-family: BlinkMacSystemFont;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(../fonts/BlinkMacSystemFont-Medium.woff2) format('woff2'),
    url(../fonts/BlinkMacSystemFont-Medium.woff) format('woff');
}

@font-face {
  font-family: BlinkMacSystemFont;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(../fonts/BlinkMacSystemFont-Regular.woff2) format('woff2'),
    url(../fonts/BlinkMacSystemFont-Regular.woff) format('woff');
}

@font-face {
  font-family: BlinkMacSystemFont;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(../fonts/BlinkMacSystemFont-Bold.woff2) format('woff2'),
    url(../fonts/BlinkMacSystemFont-Bold.woff) format('woff');
}

@font-face {
  font-family: BlinkMacSystemFont;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url(../fonts/BlinkMacSystemFont-Heavy.woff2) format('woff2'),
    url(../fonts/BlinkMacSystemFont-Heavy.woff) format('woff');
}

@font-face {
  font-family: Schwifty;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(../fonts/schwifty.woff2) format('woff2'),
    url(../fonts/schwifty.woff) format('woff');
}
