.character__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info__section {
  font-size: 25px;
  text-align: right;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character {
  display: flex;
  flex-direction: column;
}

.info__status_green {
  color: var(--lt-color-green-100);
}

.info__status {
  margin: 0;
  font-size: 30px;
  font-weight: 800;
  border-bottom: 1px solid var(--lt-color-orange-100);
}

.info__status_red {
  color: red;
}

.info__title {
  font-size: 27px;
  margin: 0 0 10px;
  opacity: 0.7;
}

.character__image {
  max-width: 250px;
  object-fit: cover;
}

.main__section {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;
  font-size: 24px;
  border-bottom: 1px solid var(--lt-color-gray-100);
}

.main__title {
  font-weight: 500;
  font-size: inherit;
  opacity: 0.7;
}

.main__title,
.main__status {
  margin: 0;
}

@media screen and (width >= 1024px) {
  .character__image {
    max-width: 100%;
  }
}

@media screen and (width <= 550px) {
  .info__title {
    font-size: 16px;
  }

  .character__image {
    max-width: 200px;
    object-fit: cover;
  }

  .info__status {
    font-size: 20px;
  }
  .main__section {
    font-size: 20px;
    gap: 5px;
  }
}
