.empty_list {
  font-size: 27px;
  font-weight: 800;
  text-align: center;
  color: var(--lt-color-white-100);
}

.link {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--lt-color-orange-100);
}
.link:hover {
  color: var(--lt-color-gray-300);
}

@media screen and (width <= 400px) {
  .empty_list {
    font-size: 18px;
  }
}