:root {
  --lt-color-white-100: #ffffff;
  --lt-color-white-200: #f8f9fc;
  --lt-color-pink-200: #ffe5cc;
  --lt-color-orange-100: #ff9800;
  --lt-color-green-100: #97ce4c;
  --lt-color-gray-100: #2f3237;
  --lt-color-gray-200: #272b33;
  --lt-color-gray-300: #202329;
}

body {
  box-sizing: border-box;
  color: var(--lt-color-gray-300);
  font-family: 'BlinkMacSystemFont', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--lt-color-orange-100);
}

::-webkit-scrollbar {
  width: 25px;
  background: #101124;
}

::-webkit-scrollbar-track {
  border: 5px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #97ce4c, #0a5f0d);
  border-radius: 15px;
}
